@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

#section-proyectos {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-proyectos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.container_proyect_link {
  display: flex;
  width: 90%;
  margin: 20px 0;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

.container_proyect_link img {
  width: 100%;
  border: 3px solid #0fd3d1;
}

.container_proyect_link .container-text-proyect {
  width: 70%;
  position: absolute;
  left: -25px;
  padding: 15px;
  font-size: 1.8rem;
  background: black;
  color: white;
}
.container_proyect_link .container-text-proyect h3 {
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
}
.container_proyect_link .container-text-proyect p {
  font-size: 1.2rem;
  font-family: "Lora", serif;
}
.container-buttons-proyects {
  margin-top: 50px;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
.verProyecto {
  background: #0fd3d1;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 10px;
  color: white;
  border: none;
}
.verCodigo {
  font-size: 1.2rem;
  cursor: pointer;
  padding: 10px;
  color: #0fd3d1;
  background: none;
  border: 1px solid #0fd3d1;
}
.text-proyectos {
  display: flex;
  width: 90%;
  align-items: center;
  margin: 0 auto;
  justify-content: space-evenly;
}
.text-proyectos h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.8rem;
}
.text-proyectos p {
  font-size: 1.2rem;
}
.urlRepositorios {
  text-decoration: none;
}
.verProyectos {
  cursor: pointer;
  width: 160px;
  background: none;
  border: 1px solid black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.verProyectos span img {
  margin-top: 5px;
  width: 20px;
}
@media (max-width: 600px) {
  .text-proyectos {
    flex-direction: column;
  }
  .container_proyect_link .container-text-proyect {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 45px;
  }
  .container-buttons-proyects {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    width: 90%;
  }
  .verProyecto {
    padding: 10px;
    margin: 20px 0;
    width: 90%;
  }
  .verCodigo {
    width: 90%;

    padding: 10px;
  }
  .container_proyect_link .container-text-proyect {
    position: static;
    width: 100%;
  }
  .container_proyect_link {
    flex-direction: column;
  }
}
