@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

#section-proyectos {
  padding: 20px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.div_proyectos {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 500px;
  margin: 10px;
  height: 950px;
  border-radius: 20px;
  box-shadow: 0px 2px 17px 1px rgb(0 0 0 / 57%);
}

.div_proyectos .proyect_img {
  width: 100%;
}

.div_proyectos p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2.2rem;
}

.div_proyectos button {
  border: none;
  background: #09b2b0;
  color: white;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

.tecnologies {
  width: 50px;
  height: 50px;
  object-fit: contain;
  margin: 10px;
}

.text-proyectos {
  text-align: center;
  margin-bottom: 60px;
  width: 90%;
}

.text-proyectos p {
  font-size: 1.5rem;

}

.tecnologies_container {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}

.tecnologies_container div {
  width: 200px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 180px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
}

.tecnologies_container img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}